<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="watcher">
    <p>{{ message }}</p>
    <p>
      <input type="text" v-model="message">
    </p>

    <ul>
      <li v-for="color in colors">
        {{ color.name}}
      </li>
    </ul>
    <button v-on:click="onClick">Click!</button>

    <p>
      <input type="text" v-model="keyword">
    </p>
    <p>{{ announce }}</p>
    <ul>
      <li v-for="item in items">
        <a :href="item.url" target="_blank">
          {{ item.title }}
        </a>
        likes: {{ item.likes_count }}
      </li>
    </ul>
  </div>
  <script src="https://unpkg.com/vue@3.1.5"></script>
  <script src="https://unpkg.com/axios@0.21.1/dist/axios.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.js"></script>
  <script src="js/watcher.js"></script>
</body>
</html>